@import url("https://fonts.googleapis.com/css2?family=Agbalumo&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Chakra+Petch&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

ul {
  margin: 10px 0;
  padding: 0 0 0 40px;
}

a:visited,
a:link {
  color: black;
  text-decoration: none;
}

fieldset {
  padding: 5px;
  width: max-content;
}

.button {
  border: 0.0625rem solid black;
  border-radius: 0.35rem;
  box-shadow: 1px 1px 4px -3px gray;
  cursor: pointer;
}
.button--sm {
  width: 6rem;
  padding: 0.125rem;
  font-size: 0.8rem;
}
.button--md {
  width: 9rem;
  padding: 0.25rem;
  font-size: 0.9rem;
}
.button--lg {
  width: 12rem;
  padding: 0.375rem;
  font-size: 1rem;
}
.button--add {
  background-image: linear-gradient(127deg, white, white, white 65%);
  border-color: blue;
  color: blue;
  transition: all 300ms;
}
.button--add:hover, .button--add:active {
  background-image: linear-gradient(127deg, darkblue, blue, darkblue 65%);
  border-color: white;
  color: white;
}
.button--remove {
  background-image: linear-gradient(127deg, white, white, white 65%);
  border-color: red;
  color: red;
  transition: all 300ms;
}
.button--remove:hover, .button--remove:active {
  background-image: linear-gradient(127deg, darkred, red, darkred 65%);
  border-color: white;
  color: white;
}
.button--disabled {
  background-image: linear-gradient(127deg, white, white, white 65%);
  border-color: gray;
  color: gray;
  transition: all 300ms;
  cursor: default;
}
.button--disabled:hover, .button--disabled:active {
  background-image: linear-gradient(127deg, gray, lightgray, gray 65%);
  border-color: white;
  color: white;
}

.slider {
  position: relative;
  width: 200%;
  display: flex;
  animation-name: move-slide;
  animation-duration: 18s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}
.slider__one, .slider__two, .slider__three {
  display: flex;
  justify-content: center;
  align-items: center;
}
.slider__title {
  position: absolute;
  font-size: 2rem;
  color: white;
}
.slider__image {
  width: 100%;
  object-fit: cover;
  object-position: center;
}
@keyframes move-slide {
  0% {
    left: 0;
  }
  25% {
    left: 0;
  }
  45% {
    left: -100%;
  }
  50% {
    left: -100%;
  }
  75% {
    left: -100%;
  }
  95% {
    left: 0;
  }
  100% {
    left: 0;
  }
}

.card {
  background-color: beige;
  padding: 1vw;
  width: 100%;
}
.card__image {
  width: 100%;
}
.card__title {
  color: green;
}
.card__price {
  font-weight: bold;
}
.card__price::before {
  content: "$ ";
}

.element--deactivate {
  display: none;
}

body {
  display: grid;
  grid-template-areas: "header" "main" "footer";
  gap: 1vw;
  width: calc(100% - 1vw);
  padding: 0.5vw;
}

.footer {
  grid-area: footer;
  background-color: rgb(112, 104, 104);
  border: 8px outset lightgray;
}
.footer span {
  display: block;
  color: white;
  margin: 2vh;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  font-weight: 700;
}

.header {
  grid-area: header;
  background-color: rgb(112, 104, 104);
  border: 8px outset lightgray;
}
.header__logoTitle {
  display: grid;
  grid-template-columns: 1fr 15fr 1fr;
  justify-items: center;
  gap: 1vw;
}
.header__logoTitle h1 {
  font-size: 2.4em;
}
.header img {
  width: 50px;
}
.header h1 {
  margin-top: auto;
  margin-bottom: auto;
  color: white;
  font-family: "Chakra Petch", "Times New Roman", Times, serif;
}

.main {
  grid-area: main;
}

.section {
  width: 100%;
}
.section--slider {
  overflow: hidden;
}
.section--products {
  display: flex;
  flex-direction: column;
  gap: 1vw;
}
.section--products h3 {
  font-size: 2em;
  text-align: center;
}
.section--products .product--actions {
  margin-top: 2vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.section--products .product--actions .product--search fieldset {
  border-width: 5px;
}
.section__products_cards {
  display: grid;
  justify-self: center;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1vw;
}
.section a {
  border: 5px dashed rgb(170, 146, 146);
  font-weight: bold;
  padding: 2px;
}
.section a:hover {
  text-shadow: 2px 2px 2px black;
}

@media (max-width: 1200px) {
  .section__products_cards {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 600px) {
  .section__products_cards {
    grid-template-columns: 1fr;
  }
  .section--products .product--actions {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2vh;
  }
}
.navbar {
  grid-area: navbar;
  border-top: 8px solid lightgray;
}
.navbar__menu {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  gap: 2vw;
  margin: 2vh 2vw;
  font-weight: 700;
  list-style: none;
}
.navbar .navbar__item {
  color: white;
}

.section--products h2 {
  font-family: Agbalumo, "Times New Roman", Times, serif;
  text-align: center;
  font-size: 2em;
}

#about {
  display: grid;
  grid-template-columns: 2fr 1fr 2fr;
}
#about h2 {
  font-family: Agbalumo, "Times New Roman", Times, serif;
  text-align: center;
  font-size: 2em;
}

#origin,
#mission,
#vision {
  margin: 20px;
}

#origin {
  animation: fade-in-origin 3s;
}

#mission {
  animation: fade-in-mission 6s;
}

#vision {
  animation: fade-in-vision 8s;
}

@keyframes fade-in-origin {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in-mission {
  0% {
    opacity: 0;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in-vision {
  0% {
    opacity: 0;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
@media (max-width: 1200px) {
  #about {
    display: block;
  }
}
#contact__data h2 {
  font-family: Agbalumo, "Times New Roman", Times, serif;
  text-align: center;
  font-size: 2em;
}
#contact__data div {
  margin-left: 10px;
}
#contact__data div p {
  font-weight: 700;
  font-size: 1.5em;
}

#contact__form h2 {
  font-family: Agbalumo, "Times New Roman", Times, serif;
  text-align: center;
  font-size: 2em;
}
#contact__form form {
  width: 500px;
  margin: 1vw;
  padding: 1vw;
  background-color: beige;
  border-radius: 1vw;
  margin: auto;
}
#contact__form form .contact__form__input {
  margin-bottom: 1.2vw;
  display: flex;
  flex-direction: column;
}
#contact__form form textarea {
  resize: none;
}

.contact__form__alert {
  width: calc(100% - 0.5em);
  margin: 0.25em;
  padding: 0.25em;
  background-color: rgb(226, 227, 229);
  border: 1px solid rgb(211, 214, 216);
  border-radius: 0.25em;
  color: rgb(65, 70, 75);
  font-size: 0.75em;
  display: none;
  justify-content: space-between;
}

.contact__form__alert--success {
  background-color: rgb(209, 231, 221);
  border: 1px solid rgb(186, 219, 204);
  color: rgb(15, 81, 50);
}

.contact__form__alert--error {
  background-color: rgb(248, 215, 218);
  border: 1px solid rgb(245, 194, 199);
  color: red;
}

.contact__form__alert__close {
  align-self: center;
  font-size: 0.75em;
  cursor: pointer;
}

.contact__form__alert--show {
  display: flex;
}

.contact__form__alert--hide {
  display: none;
}

@media (max-width: 510px) {
  #contact__form form {
    width: 95%;
  }
}
#new_product__form h2 {
  font-family: Agbalumo, "Times New Roman", Times, serif;
  text-align: center;
  font-size: 2em;
}
#new_product__form form {
  width: 500px;
  margin: 1vw;
  padding: 1vw;
  background-color: beige;
  border-radius: 1vw;
  margin: auto;
}
#new_product__form form .new_product__form__input {
  margin-bottom: 1.2vw;
  display: flex;
  flex-direction: column;
}
#new_product__form form textarea {
  resize: none;
}

.new_product__form__alert {
  width: calc(100% - 0.5em);
  margin: 0.25em;
  padding: 0.25em;
  background-color: rgb(226, 227, 229);
  border: 1px solid rgb(211, 214, 216);
  border-radius: 0.25em;
  color: rgb(65, 70, 75);
  font-size: 0.75em;
  display: none;
  justify-content: space-between;
}

.new_product__form__alert--success {
  background-color: rgb(209, 231, 221);
  border: 1px solid rgb(186, 219, 204);
  color: rgb(15, 81, 50);
}

.new_product__form__alert--error {
  background-color: rgb(248, 215, 218);
  border: 1px solid rgb(245, 194, 199);
  color: red;
}

.new_product__form__alert__close {
  align-self: center;
  font-size: 0.75em;
  cursor: pointer;
}

.new_product__form__alert--show {
  display: flex;
}

.new_product__form__alert--hide {
  display: none;
}

#id-add-product {
  margin-top: 10px;
}

@media (max-width: 510px) {
  #new_product__form form {
    width: 95%;
  }
}/*# sourceMappingURL=main.css.map */