@use "../abstracts/variables" as var;
@use "../abstracts/mixins" as mix;

#about {
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;

    h2 {
        font-family: Agbalumo, 'Times New Roman', Times, serif;
        text-align: center;
        font-size: 2em;
    }
}

#origin,
#mission,
#vision {
    margin: 20px;
}

#origin {
    animation: fade-in-origin 3s;
}

#mission {
    animation: fade-in-mission 6s;
}

#vision {
    animation: fade-in-vision 8s;
}



@keyframes fade-in-origin {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fade-in-mission {
    0% {
        opacity: 0;
    }

    80% {
        opacity: 1;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fade-in-vision {
    0% {
        opacity: 0;
    }

    90% {
        opacity: 1;
    }

    100% {
        opacity: 1;
    }
}

@media (max-width: 1200px) {
    #about {
        display: block;
    }
}