@use "../abstracts/variables" as var;
@use "../abstracts/mixins" as mix;


.section--products h2 {
    font-family: Agbalumo, 'Times New Roman', Times, serif;
    text-align: center;
    font-size: 2em;
}