@use "../abstracts/variables" as var;
@use "../abstracts/mixins" as mix;

.header {
    grid-area: header;
    background-color: rgb(112, 104, 104);
    border: 8px outset lightgray;
    // border-style: ;
    // border-radius: 5px;

    &__logoTitle {
        display: grid;
        grid-template-columns: 1fr 15fr 1fr;
        justify-items: center;
        // flex-direction: row;
        gap: 1vw;

        h1 {
            font-size: 2.4em;
        }
    }

    img {
        width: 50px;
    }

    h1 {
        margin-top: auto;
        margin-bottom: auto;
        color: white;
        font-family: 'Chakra Petch', 'Times New Roman', Times, serif;
    }

}