@use "../abstracts/variables" as var;
@use "../abstracts/mixins" as mix;

.main {
    grid-area: main;
}

.section {
    width: 100%;

    &--slider {
        overflow: hidden;
    }

    &--products {
        display: flex;
        flex-direction: column;
        gap: 1vw;

        h3 {
            font-size: 2em;
            text-align: center;
        }

        .product--actions {
            margin-top: 2vh;
            display: flex;
            align-items: center;
            justify-content: space-between;

            .product--search fieldset {
                border-width: 5px;
            }
        }


    }

    &__products_cards {
        display: grid;
        justify-self: center;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 1vw;
    }

    a {
        border: 5px dashed rgb(170, 146, 146);
        font-weight: bold;
        padding: 2px;
    }

    a:hover {
        text-shadow: 2px 2px 2px black;
    }
}



@media (max-width: 1200px) {
    .section__products_cards {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 600px) {
    .section__products_cards {
        grid-template-columns: 1fr;
    }

    .section {
        &--products {
            .product--actions {
                display: flex;
                flex-direction: column;
                align-items: center;
                // justify-content: space-around;
                gap: 2vh;
            }
        }
    }
}