@use "../abstracts/variables" as var;
@use "../abstracts/mixins" as mix;

.card {
    background-color: beige;
    padding: 1vw;
    width: 100%;

    &__image {
        width: 100%;
    }

    &__title {
        color: green;
    }

    &__price {
        font-weight: bold;

        &::before {
            content: "$ ";
        }
    }
}